version: '3.8'

services:
  postgres-db:
    image: postgres:15-alpine
    container_name: postgres-db
    restart: unless-stopped
    environment:
      POSTGRES_DB: auth_db
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  auth-app:
    build:
      context: ./authentication_service
      dockerfile: Dockerfile
    container_name: auth-app
    restart: on-failure
    ports:
      - "5000:5000"
    environment:
      DB_HOST: postgres-db 
      DB_NAME: auth_db
      DB_USER: user
      DB_PASSWORD: password
    depends_on:
      - postgres-db
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d auth_db"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data: